{% extends "base.html" %}
{% block content %}
        <div style="width: fit-content;" class="bg-light mx-auto border p-5 my-5">
            <p class="text-center"> You cannot create your own account. <br>Please fill this to request one</p>
            {{ form.hidden_tag() }}
            <form method="post">
                <p>
                    {{ form.firstname(size=40, placeholder='Please enter your name') }}<br>
                </p>
                {{ form.omenako(class='mt-3') }} I am in Omenako
                
                <div>{{ form.submit(class='btn btn-primary m-3 float-right d-inline-block', value='Send')}}</div>
                <div class="btn btn-light border float-left m-3 p-2" onclick="history.back()">Cancel</div>
            </form>
            <a class="mt-3 d-inline-block" href="{{ url_for('login')}}">I have an account</a>
        </div>
{% endblock %}